@use '@/styles/variables' as *;

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  background: #fff;
  color: #555;
  cursor: pointer;
  transition: all 0.15s ease;

  &.selected {
    color: #fff;
    opacity: 1;

    .icon svg {
      color: #fff;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .icon {
    margin-left: 2px;
    font-weight: bold;

    svg {
      color: #444;
    }
  }
}

.large {
  border: 2px solid $blue-1;
  padding: 6px 12px;
  padding-right: 10px;
  font-size: 14px;

  .icon svg {
    width: 15px;
    height: 15px;
  }

  &.selected {
    background-color: $blue-2;
    border-color: $blue-2;

    .icon svg {
      width: 15px;
    }
  }
}

.small {
  border: 1px solid #333;
  padding: 4px 8px;
  padding-right: 6px;
  font-size: 11px;
  letter-spacing: -1px;

  .icon svg {
    width: 12px;
    height: 12px;
  }

  &.selected {
    background: #333;

    .icon svg {
      width: 12px;
    }
  }
}
